include classpath("application.conf")

whisk {
    couchdb {
      protocol = "{{ db.protocol }}"
      host     = "{{ db.host }}"
      port     = "{{ db.port }}"
      username = "{{ db.credentials.controller.user }}"
      password = "{{ db.credentials.controller.pass }}"
      provider = "{{ db.provider }}"
      databases {
        WhiskAuth       = "{{ db.whisk.auth }}"
        WhiskEntity     = "{{ db.whisk.actions }}"
        WhiskActivation = "{{ db.whisk.activations }}"
      }
    }
}