include classpath("application.conf")

whisk {
{% if lookup('env', 'SPI_ARTIFACT_STORE') == 'whisk.core.database.cosmosdb.CosmosDBArtifactStoreProvider' %}
  spi {
    ArtifactStoreProvider = "whisk.core.database.cosmosdb.CosmosDBArtifactStoreProvider"
  }
  cosmosdb {
    endpoint = "{{ lookup('env','COSMOSDB_ENDPOINT') }}"
    key      = "{{ lookup('env','COSMOSDB_KEY') }}"
    db       = "{{ lookup('env','COSMOSDB_NAME') }}"
  }
{% else %}
  couchdb {
    protocol = "{{ db.protocol }}"
    host     = "{{ db.host }}"
    port     = "{{ db.port }}"
    username = "{{ db.credentials.admin.user }}"
    password = "{{ db.credentials.admin.pass }}"
    provider = "{{ db.provider }}"
    databases {
      WhiskAuth       = "{{ db.whisk.auth }}"
      WhiskEntity     = "{{ db.whisk.actions }}"
      WhiskActivation = "{{ db.whisk.activations }}"
    }
  }
{% endif %}
}
